/.idea/inspectionProfiles/profiles_settings.xml
/.idea/.gitignore
/.idea/sd-search-api.iml
/.idea/misc.xml
/.idea/modules.xml
/.idea/vcs.xml
/.coverage

# Python
__pycache__/
*.pyc
*.pyo

# Tools
.venv/
.mypy_cache/
.ruff_cache/
.tox/
.pytest_cache/
